.tlui-help-menu {
    display: none !important;
}

.tlui-debug-panel {
    display: none !important;
}

.tldraw__editor {
    position: fixed;
    inset: 0px;
    overflow: hidden;
}

.lockup__link {
    position: absolute;
    z-index: var(--layer-panels);
    bottom: 0px;
    right: 0px;
}

.lockup__link__mobile {
    bottom: 60px;
}

.question__button {
    all: unset;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lockup__link img {
    height: 38px;
    padding: 8px;
}

.tlui-input.apikey_input {
    background-color: var(--color-muted-2);
    flex-grow: 2;
    border-radius: var(--radius-2);
    padding: 0px var(--space-4);
    position: relative;
}

.apikey_select {
    position: relative;
    background-color: var(--color-muted-2);
    border-radius: var(--radius-2);
    padding: 0px var(--space-3);
    height: 40px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-size: 12px;
    font-family: Inter, sans-serif;
}

.apikey_select::after {
    content: '▼';
    color: var(--color-text-0);
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    font-size: 12px;
    font-family: Inter, sans-serif;
}

.apikey_help_icon {
    pointer-events: none;
}

.apikey_input.apikey_input__invalid {
    color: red !important;
}

/* className="flex items-start flex-col text-xs bg-white rounded-[9px] w-full p-1" */
/* Make real css */

.makereal_dropdown {
    background-color: #fff;
    border-radius: 9px;
    padding: 6px;
}

.makereal_dropdown_menu {
    pointer-events: 'all';
    border: '1px solid #e8e8e8';
    border-radius: '4px';
    padding: '4px';
    width: '160px';

    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    background-color: white;
    border-radius: 9px;
}

.makereal_dropdown_item {
    text-shadow: '1px 1px #fff';
    background: 'none';
    border: 'none';
    cursor: 'pointer';
    display: 'block';
    font-size: '14px';
    line-height: '1.5';
    padding: '6px 12px';
    text-align: 'left';
    width: '100%';
    white-space: 'nowrap';
}

/* bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded */
.makereal_button {
    margin: 5px;
    border: none;
    background-color: #3b82f6;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 9px;
    cursor: pointer;
}